VERSION="Versión del servicio en formato sematic versioning. Ejemplo: 1.0.0, 3.0.10, 2.15"

ENVIRONMENT="Ambiente de la aplicación: test, production."

DB_HOST="Host de la base de datos."
DB_PORT="Puerto de la base de datos. PostgreSQL: 5432."
DB_USER="Usuario de base de datos."
DB_PASSWORD="Password del usuario de base de datos."
DB_NAME="Nombre de la base de datos."

FAILURE_PROBABILITY="Probabilidad de falla del servicio. Valor entre 0 y 1. Ejemplo: 0.1, 0.5, 0.9"
MAX_WAIT_TIME="Tiempo máximo de espera en segundos para la respuesta del servicio. Ejemplo: 1, 5, 10"