VERSION="Versión del servicio en formato sematic versioning. Ejemplo: 1.0.0, 3.0.10, 2.15"

ENVIRONMENT="Ambiente de la aplicación: test, production."

DB_HOST="Host de la base de datos."
DB_PORT="Puerto de la base de datos. PostgreSQL: 5432."
DB_USER="Usuario de base de datos."
DB_PASSWORD="Password del usuario de base de datos."
DB_NAME="Nombre de la base de datos."

AUTH_SERVICE_URL="URL del componente de autenticación."
SALES_SERVICE_URL="URL del servicio de ventas."
CLIENT_TIMEOUT="Timeout en segundos para peticiones los microservicios de backend."